.cart
    margin-top: 40px
    display: flex
    flex-direction: column
    h5  
        font-size: 12px
    img 
        height: 30px
.left 
    margin-top: 30px
    width: 80vw
    display: flex
    justify-content: center
th
    strong
        font-size: 12px
        padding: 0px
   
table.table
    th, td
        padding-top: 5px
        padding-bottom: 5px
    button  
        padding: 0
        width: 30px
td  
    font-size: 8px
.checkout
    display: flex
    justify-content: center
    button
        margin: 0
        flex: 1
        font-size: 12px
        text-transform: uppercase
        padding: 8px
.right
    margin-top: 50px
    h4
        font-size: 20px
    h5
        font-size: 16px


@media(min-width: 768px)
    .cart
        img
            height: 80px
            width: 100px
        h5
            font-size: 20px
    td
        padding-top: 20px
    th
        background-color: #E0E0E0
        strong
            font-size: 18px
    .checkout
        button
            font-size: 14px
            padding: 12px
    table.table
        th, td
            padding-top: 1.1rem;
            padding-bottom: 1rem;
        button  
            padding: 8px
            width: 50px


@media(min-width: 1024px)
    .cart 
        margin-top: 0
        width: 90vw
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 80px

    .left
        display: block
        width: 40vw
    .right
        width: 30vw
        margin-right: 40px
        h4
            text-align: center
        h5
            display: flex
            justify-content: space-between
        .checkout
            button
                font-size: 16px
                text-transform: uppercase
    .product-table
        width: 50vw
    td
        padding-top: 20px
    th
        background-color: #E0E0E0
        strong
            font-size: 18px
