.cart 
    width: 90vw
    display: flex
    justify-content: space-between
    margin-top: 80px
.left
    width: 40vw
.right
    width: 30vw
    margin-right: 40px
    h4
        text-align: center
    h5
        display: flex
        justify-content: space-between
    .checkout
        display: flex
        justify-content: center
        button
            margin: 0
            flex: 1
            font-size: 16px
            padding: 12px
.product-table
    width: 50vw
td
    padding-top: 20px
th
    background-color: #E0E0E0
    strong
        font-size: 18px
