.cover
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    background-color: white
    z-index: 1
    top: 12vh
    width: 90vw
    height: 80vh
.confirm
    border: 1px solid rgba(0,0,0, 0.3)
    padding: 20px 40px
    h2  
        padding: 10px
    h2, p
        text-align: center
    div
        text-align: left
        display: flex
        flex-direction: column
        h5
            margin-top: 50px
        a 
            margin-top: 30px
            align-self: center
        button
            width: 15vw
            padding: 10px
            background-color: #7DC855
            color: white
            flex: 1
            border-radius: 30px
            &:hover
                cursor: pointer
                background-color: #64af3d
