#hamNav 
    position: fixed
    top: 5vh
    background-color: white
    z-index: 3
    .container
        padding: 0
    .navbar-brand a
        color: black
        padding: 0
        font-size: 24px
    a
       color: gray
       font-size: 16px
    .nav-item
        margin: 5px 0 
.gradient
    background-image: linear-gradient(to bottom, #555553, grey)