.home
    display: flex
    img
        width: 33.3vw
        height: 90vh
    h1
        font-size: 50px
        position: absolute
        top: 50vh
        right: 38vw
        color: white
        background-color: rgba(192,192,192, 0.5)
        border-radius: 10px
        padding: 10px