.row
    flex: 1
    margin-bottom: 20px
.row h4
    margin: 0
    font-size: 18px
.row h5 
    font-size: 18px
    margin: 0
.description
    padding-top: 20px
    display: flex
    justify-content: space-between
    align-items: center